// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much


/* ----- Content ----- */

article p {
	text-align:justify;
	margin-bottom: 1em;
}


/* ----- 404 ----- */


.notfound404 article{
	margin-left: 0 !important;
}